.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-brand {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-brand img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }